[Unit]
Description=auto-epp-sh - Automatic amd-pstate epp
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/auto-epp-sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
